/bin
/lib
/install
*.vs
*.db
*.log
*.dll
*.exe
*.lib
*.exp
*.ipdb
*.iobj
*.tlog
*.recipe
*.FileListAbsolute.txt
*.idb
*.hlsl.h
*.bat
*.vcxproj.user 
imgui.ini
.ignore/*
/src/rt64lib/x64
/src/sample/x64